.main-bg{
    background-color: #222;
}

.tx-color{
    color: white;
}

.nav-bg-color{
    background-color: #e3f2fd;
}

.list-style{
    list-style-type : none;
}

.ul-style{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}