.main-bg {
    background-color: black;
}

.tx-color {
    color: white;
}

.nav-bg-color {
    background-color: #A7171A;
    color: white;
}

.li {
    list-style-type: none;
    list-style-position: left;
}

.bt {
    width: 240px;
}

.bg-color {
    background-color: #222;
}

.tx-color-dot {
    color: #990000
}


a.a-link {
    color: white;
    text-decoration: none;

}

.list-style {
    list-style-type: none;
}

.ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.bg-color-procedure {
    background-color: #222;
    border-radius: 15px;
}

.underline {
    border-bottom: red 5px solid;
    display: inline-block;
    margin-top: 20px;
}

.img-1 {
    width: 820px;
    height: 610px;
}

.icons1 {
    display: inline-block;
    color: white;
    text-align: center;
    transition: transform 0.5s;
}

.icons1 :hover {
    color: gray;
    transform: translateY(-5px);
}

.tx-color1 {
    display: inline-block;
    color: white;
    text-align: center;
    transition: transform 0.5s;
}

.tx-color1 :hover {
    color: gray;
    transform: translateY(-5px);
}

.icons a {
    display: inline-block;
    color: white;
    text-align: center;
    transition: transform 0.5s;
}

.icons a:hover {
    color: gray;
    transform: translateY(-5px);
}

.hw {
    height: 400px;
    width: auto;
}

/* CSS animation for the transition effect */
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Apply the animation to the element */
  .fade-in {
    animation: fade-in 1s ease-in;
  }

/*  */

/* 1 */
.container1 .card1 .icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/home_page/OIP.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 2 */
.container1 .card1 .icon2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/home_page/boter\ kaas\ en\ eireren.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 3 */
.container1 .card1 .icon3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/home_page/escape\ room.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 4 */
.container1 .card1 .icon4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/home_page/R.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 5 */
.container1 .card1 .icon5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/home_page/1_6L54YRfOB2iIAXB91d2Eqg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 6 */
.container1 .card1 .icon6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/home_page/techie.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 7 */
.container1 .card1 .icon7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/home_page/weather\ app.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 8 */
.container1 .card1 .icon8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/home_page/port1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 9 */
.container1 .card1 .icon9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/fotos/intervieuw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* 10 */
.container1 .card1 .icon10 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/fotos/SWOT.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* 11 */
.container1 .card1 .icon11 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/fotos/800px-Starr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container1 .card1 .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
}

.container1 .card1 .slide {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container1 .card1 .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.container1 .card1:hover .slide.slide1 {
    transform: translateY(0px);
}

.container1 .card1 .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.container1 .card1:hover .slide.slide2 {
    transform: translateY(0);
}

.container1 .card1 .slide.slide2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #A7171A;
}

.container1 .card1 .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container1 .card1 .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
}