.main-bg {
    background-color: #222;
}

.tx-color {
    color: white;
}

.nav-bg-color {
    background-color: #e3f2fd;
}

.li {
    list-style-type: none;
    list-style-position: left;
}

.bt {
    width: 240px;
}

.bg-color {
    background-color: #003972;
}

.tx-color-dot {
    color: #990000
}


a.a-link {
    color: white;
    text-decoration: none;

}

.list-style {
    list-style-type: none;
}

.ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.bg-color-procedure {
    background-color: #003972;
    border-radius: 15px;
}

.underline {
    border-bottom: red 5px solid;
    display: inline-block;
    margin-top: 20px;
}

.img-1 {
    width: 820px;
    height: 610px;
}












/*  */
