body {
  background-color: #222222;
}

ul {
  margin-top: 0;
  padding: 10px;
  color: white;
  background-color: black;
  text-align: left;
  border: 1px solid white;
}

li {
  display: inline;
  margin-right: 20px;
}

.active {
  background-color: #222222;
  color: white;
  padding: 10px;
}
main {
  margin: 20px;
  padding: 20px;
  color: white;
}
.index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.div1{
  justify-content: center;
  text-align: center;
  width:1400px; 
  height: 150px;
  margin: 10px;
  padding: 200px;
  border: 5px solid white;
  background-color: green;

}

.div2{
  justify-content: center;
  text-align: center;
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 200px;
  border: 5px solid white;
    background-color: black;


}

.div3{
  justify-content: center;
  text-align: center;
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 200px;
  border: 5px solid white;
    background-color: black;


}

.div4{
  justify-content: center;
  text-align: center;
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 200px;
  border: 5px solid white;
    background-color: black;


}


.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-container,.w3-panel{padding:0.01em 16px}
/* .w3-panel{margin-top:16px;margin-bottom:16px} */
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}



@media screen and (max-width: 600px) {
  li {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
