* {
  box-sizing: border-box;
}

body {
  background-color: #222222;
  margin: 0;
}

ul {
  margin-top: 0;
  padding: 10px;
  color: white;
  background-color: black;
  text-align: left;
  border: 1px solid white;
}

li {
  display: inline-block; 
  margin-right: 20px;
}

.active {
  background-color: #222222;
  color: white;
  padding: 10px;
}

main {
  margin: 20px;
  padding: 20px;
  color: white;
}

.index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; 
}

.div1, .div2, .div3, .div4 {
  display: flex;   
  margin: 10px;        
  justify-content: center; 
  align-items: center;     
  text-align: center;
  min-height: 250px;       
  border: 5px solid white;
}

.div1 {
     
  background-color: green;
  
     

  padding: 20px;
}
.div2 {
  background-color: black;
  padding: 10px;
}

.div2, .div3, .div4 {
  flex: 1 1 250px;         
  background-color: black;
}

/* Mobile Responsiveness */
@media screen and (max-width: 600px) {
  li {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }
}