body {
    background-color: #222222;
}

ul {
    margin-top: 0;
    padding: 10px;
    color: white;
    background-color: black;
    text-align: left;
    border: 1px solid white;
}

li {
    display: inline;
    margin-right: 20px;
}

.active {
  background-color: #222222;
  color: white;
}
@media screen and (max-width: 600px) {
    li {
        display: block; 
        margin-right: 0;
        margin-bottom: 15px; 
    }
}