body{
    background-color: #222;
    color: white;
}

.tx {
    color: red;
    background-size: 80px;
    text-align: center;
    display: inline-block;
    transform: scale(1, 2);
    transform-origin: 0% 0%;
    font-family: "bookman";
}

.nav-color {
    color: white;
}
  
.font{
    font-size: xx-large;
}